* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Pretendard;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 394px;
  margin: 0 auto;
  position: relative;
  height: auto;
  min-height: 100vh;
  background: #F2F4F8;
}

.status-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  box-sizing: border-box;
  flex: 1 0 0;
  height: 50px;
  background-color: transparent;
  z-index: 10;
}

.digit-font {
  position: absolute;
  left: 34px;
  color: #000;
  text-align: center;
  font-family: "SF Pro";
  font-size: 15.8px;
  font-weight: 590;
  line-height: 20.5px;
}

.time {
  display: flex;
  align-items: center;
  padding: 17.067px 0px 12.187px 0px;
  flex: 1 0 0;
}

.login-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.logo {
  width: 160px;
  margin: 20px 0;
}

.welcome-sub {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  text-align: center;
}

.welcome-msg {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  z-index: 1;
}

label {
  font-size: 14px;
  margin-top: 10px;
}

.input-wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

input#id, 
input[type="text"],
input[type="password"] {
  padding: 12px;
  width: 100%;
  height: 52px;
  font-size: 14px;
  border: none;
  border-radius: 9px;
  text-align: left;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #aaa;
}

.notice {
  font-size: 13px;
  color: #666;
  text-align: center;
  line-height: 1.4;
  margin: 10px 0;
}

.login-btn {
  background-color: #6ea5ff;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 52px;
}

.forgot {
  font-size: 13px;
  color: gray;
  text-align: center;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.white-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 530px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  z-index: 0;
}